.layout-header {
  height: 48px;
  line-height: 48px;
  padding: 0 50px;
  flex: 0 0 auto;
}

.header-continer {
  position: relative;
  width: 100%;
}

.header-right {
    position: absolute;
    right: 120px;
}

.system-settings{

}

.system-settings::before{
    width: 1px;
    height: 24px;
    content: "";
    background-color: #303030;
}